<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>
    <main>
        <section class="section-productos">
            <h2>Listado de Productos</h2>
            <div>
                <% if (productos.length > 0) { %>
                    <% productos.map(item => { %>
                        <div class="card-producto">
                            <div class="card-producto__header">
                                <img src="https://randomuser.me/api/portraits/lego/1.jpg" alt="" width="50" height="50">
                                <h3><%= item.title %></h3>           
                            </div>
                            
                            <div class="card-producto__body">
                                <p>Descripcion: <%= item.description %></p>
                                <p>Code: <%= item.code %></p>
                                <p>Precio: <%= item.price %></p>
                            </div>
                            
                            <div class="card-producto__footer">
                                <form action="/carrito" method="post">
                                    <input type="hidden" name="idProducto" value="<%= item.id %>">
                                    <button>Agregar</button>
                                </form>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </section>
    </main>
</body>
</html>