<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>
    <main>
        <section class="section-perfil">
            <h2>Perfil</h2>
            <% if (perfil) { %>
            <ul class="user">
                <li><img src="<%= perfil.avatar %>" alt="Avatar User"></li>
                <li>Username: <%= perfil.username %></li>
                <li>Nombre: <%= perfil.nombre %></li>
                <li>Email: <%= perfil.email %></li>
                <li>Telefono: <%= perfil.telefono %></li>
                <li>Direccion: <%= perfil.direccion %></li>
                <li>Edad: <%= perfil.edad %></li>
                
            </ul>
            <% }else{ %>
                <div class="alert">No se puede mostrar tu perfil</div>
            <% } %> 
        </section>
    </main>
</body>
</html>